{% extends '0Base.html' %} {% block title %} Users {% endblock %} {% block body %}
<h1>Users</h1>

<div class="container ">
    <div class="row ">
        <div class="col-2">
            <select class="form-select" aria-label="Default select example" id="field-vals">
                <option selected value="Name">Name</option>
                <option value="ID">ID</option>
                <option value="Email">Email</option>
                <option value="Course">Course</option>
                <option value="Interest">Interest</option>
                <option value="Skill">Skill</option>
                <option value="Phone">Phone</option>
                <option value="Address">Address</option>
                <option value="Position">Position</option>
                <option value="Rank">Rank</option>
                <option value="Points">Points</option>
                <option value="JoinDate">JoinDate</option>
                <option value="MDeadline">MDeadline</option>
            </select>
        </div>

        <div class="col-6">
            <input type="text" class="form-control" aria-label="Text input with dropdown button" id="user-name-input">
        </div>

        <div class="col-2">
            <select class="form-select" aria-label="Default select example" id="op-vals">
                <option selected value="LIKE">LIKE</option>
                <option value="=">=</option>
                <option value="!=">!=</option>
                <option value=">">&gt;</option>
                <option value=">=">&gt;=</option>
                <option value="<">&lt;</option>
                <option value="<=">&lt;=</option>
            </select>
        </div>

        <div class="col-2">
            <button type="button" class="btn btn-primary" id="btn-find-user" onclick="">Find</button>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <input class="form-check-input get-fields" type="checkbox" value="ID" checked>
            <label class="form-check-label">
            ID
        </label>
            <input class="form-check-input get-fields" type="checkbox" value="Name" checked>
            <label class="form-check-label">
            Name
        </label>
            <input class="form-check-input get-fields" type="checkbox" value="Email">
            <label class="form-check-label">
            Email
        </label>
            <input class="form-check-input get-fields" type="checkbox" value="Course">
            <label class="form-check-label">
            Course
        </label>
            <input class="form-check-input get-fields" type="checkbox" value="Interests">
            <label class="form-check-label">
            Interests
        </label>
            <input class="form-check-input get-fields" type="checkbox" value="Skills">
            <label class="form-check-label">
            Skills
        </label>
            <input class="form-check-input get-fields" type="checkbox" value="Phone">
            <label class="form-check-label">
            Phone
        </label>
            <input class="form-check-input get-fields" type="checkbox" value="Address">
            <label class="form-check-label">
            Address
        </label>
            <input class="form-check-input get-fields" type="checkbox" value="Position">
            <label class="form-check-label">
            Position
        </label>
            <input class="form-check-input get-fields" type="checkbox" value="Rank">
            <label class="form-check-label">
            Rank
        </label>
            <input class="form-check-input get-fields" type="checkbox" value="Points">
            <label class="form-check-label ">
            Points
            </label>
            <input class="form-check-input get-fields" type="checkbox" value="JoinDate">
            <label class="form-check-label">
            JoinDate
        </label>
            <input class="form-check-input get-fields" type="checkbox" value="MDeadline">
            <label class="form-check-label ">
            MDeadline
            </label>
        </div>
    </div>

</div>

<br>

<div>
    <table class="table table-striped ">
        <thead>
            <tr id="table-fields">
            </tr>
        </thead>
        <tbody id="table-body">
        </tbody>
    </table>
</div>


{% endblock %} {% block bodyEnd %}
<script src="{{ url_for( 'static',filename='js/users.js' ) }} "></script>
{% endblock %}